:root{
    --base: #eff1f5;
    --mantel:#e6e9ef;
    --crust:#dce0e8;

    --surface0: #ccd0da;
    --surface1: #bcc0cc;
    --surface2: #acb0be;

    --overlay0: #9ca0b0;
    --overlay1: #8c8fa1;
    --overlay2: #7c7f93;

    --subtext0: #6c6f85;
    --subtext1: #5c5f77;
    --text: #4c4f69;

    --lavender: #7287fd;
    --blue: #1e66f5;
    --saphire: #209fb5;
    --sky: #04a5e5;
    --teal: #179299;
    --green: #40a02b;
    --yellow: #df8e1d;
    --peach: #fe640b;
    --maroon: #e64553;
    --red: #d20f39;
    --mauve: #8839ef;
    --pink: #ea76cb;
    --flamingo: #dd7878;
    --rosewater: #dc8a78;
}
[data-theme="dark"] {
    --base: #24273a;
    --mantel:#1e2030;
    --crust:#181926;

    --surface0: #363a4f;
    --surface1: #494d64;
    --surface2: #5b6078;

    --overlay0: #6e738d;
    --overlay1: #8087a2;
    --overlay2: #939ab7;

    --subtext0: #a5adcb;
    --subtext1: #b8c0e0;
    --text: #cad3f5;

    --lavender: #b7bdf8;
    --blue: #8aadf4;
    --saphire: #7dc4e4;
    --sky: #91d7e3;
    --teal: #8bd5ca;
    --green: #a6da95;
    --yellow: #eed49f;
    --peach: #f5a97f;
    --maroon: #ee99a0;
    --red: #ed8796;
    --mauve: #c6a0f6;
    --pink: #f5bde6;
    --flamingo: #f0c6c6;
    --rosewater: #f4dbd6;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth ;
    transition: all 0.25s ease-in-out;
    color-scheme: dark;
    color: var(--text);
}

body{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    background-color: var(--base);
    margin: auto 2vw auto 2vw;
}

header{
    margin-bottom: 2vh;
}


#close{
    width: 100%;
    background: var(--overlay0);
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    height: 1.5vh;
    box-shadow: var(--crust) 0 0.1em 0.6em;
    opacity: .6;
}

#close:hover{
    background: var(--overlay2);
    box-shadow: var(--crust) 0 0.1em 0.6em;
    cursor: pointer;
    height: 2vh;
    opacity: 1;
}

#close:active{
    background: var(--surface0);
    box-shadow: var(--surface1) 0 0.1em 0.6em;
    height: 1.5vh;
    opacity: 1;
}



#open {
    width: 100%;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#open ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    flex-direction: row;
    width: 100%;
    background: var(--overlay2);
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    box-shadow: var(--mantel) 0 0.1em 0.6em;
}


#open ul li button {
    border: none;
    background: none;
    font-size: 2.5vh;
    font-weight: 700;
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 0.5em;
    box-shadow: var(--mantel) 0 0 0.2em;
    background: var(--surface0);
    padding: 1vh 1vw;


}

#open ul li button:hover {
    background: var(--mantel);
    box-shadow: var(--surface0) 0 0.1em 0.6em;
    cursor: pointer;
    transform: scale(1.1);
}

#open ul li button:active {
    background: var(--surface0);
    box-shadow: var(--surface1) 0 0.1em 0.6em;
    transform: scale(.9);
}

#open ul li button:hover > .icons {
    transform: scale(1.1);
    cursor: pointer;
}

#open ul li button:active > .icons {
    transform: scale(.9);
}

.icons {
    width: 45px !important;
    height: 45px !important;
}




#openToggle {
    width: 10vw;
    background: var(--overlay2);
    color: var(--crust);
    box-shadow: var(--mantel) 0 0.1em 0.6em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#openToggle:hover {
    background: var(--surface2);
    box-shadow: var(--surface0) 0 0.1em 0.6em;
    color: var(--text);
    height: 6vh;
    cursor: pointer;
}

#openToggle:active {
    background: var(--surface0);
    box-shadow: var(--surface1) 0 0.1em 0.6em;
}

.levelbtn{

    background: var(--surface0);
    box-shadow: var(--mantel) 0 0.1em 0.6em;
    border-radius: 0.5em;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
    font-size: 4.5vh;
    width: 17vw;
    margin: 3vh 0.7vw;
    font-weight: 700;
    padding: .5vh 1vw;
}

.levelSelect div:first-child button{
    margin-top: 8vh !important
}

.levelSelect div:first-child div{
    margin-top: 2vh !important
}

.levelSelect div:last-child button{
    margin-bottom: 8vh !important
}

.levelSelect div:last-child div{
    transform: translateY(-7vh);
}


.levelbtn:hover {
    background: var(--surface1);
    box-shadow: var(--surface0) 0 0.1em 0.6em;
    transform: scale(1.1);
    cursor: pointer;
}

.levelSelect{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background: var(--crust);
    border-radius: 0.5em;
    box-shadow: var(--mantel) 0 0.1em 0.6em;
    width: 35vw;
    margin: 2.5vh auto;

}


.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip {
    visibility: hidden;
    background-color: var(--overlay2);
    color: var(--crust);
    text-align: center;
    padding: 1.5vh 1.5vw;
    border-radius: .25em;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.25s;
    width: 30vw;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 1vw;
    font-size: 2vh;
}

.tooltip-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.title {
    font-size: 2.5vh;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3vh;
}

.startText{
    font-size: 2.5vh;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1vh;
    color: var(--text);
    text-align: center;

}
.startText p{
    margin: 0.5vh 0 0.5vh 0;
}

.loginContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 33vw;
    background: var(--crust);
    border-radius: 0.5em;
    box-shadow: var(--mantel) 0 0.1em 0.6em;
    padding: 1vw 1vh;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.loginContainer h1{
    font-size: 4vh;
    font-weight: 700;
    margin-bottom: 3vh;
}

.loginContainer p{
    font-size: 2.2vh;
    font-weight: 500;
    margin-bottom: 3vh;
}

.loginContainer label {
    font-size: 2.4vh;
    font-weight: 700;
}

.loginContainer input{
    margin-top: 1vh;
    width: 100%;
    height: 7vh;
    border-radius: 0.5em;
    border: none;
    background: var(--surface1);
    color: var(--text);
    font-size: 2.5vh;
    font-weight: 500;
    padding: 0.5vw 0.5vh;
    margin-bottom: 1.4vh;
    text-align: center;
}

.loginContainer button{
    width: 100%;
    height: 8vh;
    border-radius: 0.5em;
    border: none;
    background: var(--surface0);
    color: var(--text);
    font-size: 2.5vh;
    font-weight: 800;
    margin-top: 2vh;
    margin-bottom: 4vh;
}

.loginContainer button:hover{
    background: var(--surface1);
    box-shadow: var(--surface0) 0 0.1em 0.6em;
    cursor: pointer;
    transform: scale(1.1);

}

.loginContainer button:active{
    background: var(--surface0);
    box-shadow: var(--surface1) 0 0.1em 0.6em;
    transform: scale(.9);
}


#level1Div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--crust);
    border-radius: 0.5em;
    box-shadow: var(--mantel) 0 0.1em 0.6em;
    width: 35vw;
    margin: 2.5vh auto;
    padding: 1vh 1vw;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#level1Div h1{
    font-size: 6vh;
    font-weight: 700;
    margin-bottom: 3vh;
}

#level1Div p{
    font-size: 2.2vh;
    font-weight: 500;
    margin-bottom: 3vh;
}


#level1Div ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background: var(--surface0);
    border-radius: 0.5em;
    box-shadow: var(--mantel) 0 0.1em 0.6em;
    padding: 2vh 3vw;
    margin-bottom: 3vh;
}

#level1Div ul li{
    font-size: 2.5vh;
    font-weight: 700;
    margin-bottom: 1vh;
    text-align: center;
}

#level1Div ul li:last-child{
    margin-bottom: 0;
}

#level1Div button{
    height: 7vh;
    border-radius: 0.5em;
    border: none;
    background: var(--surface1);
    color: var(--text);
    font-size: 2.5vh;
    font-weight: 800;
    margin-top: 2vh;
    margin-bottom: 1.4vh;
    text-align: center;
    padding: 1.5vh 5.5vw;
}

#level1Div button:hover{
    background: var(--green);
    box-shadow: var(--surface0) 0 0.1em 0.6em;
    color: var(--crust);
    cursor: pointer;
    transform: scale(1.1);
}

#level1Div button:active{
    background: var(--teal);
    box-shadow: var(--surface1) 0 0.1em 0.6em;
    color: var(--crust);
    transform: scale(.9);
}

.next{
    background: var(--green);
    box-shadow: var(--crust) 0 0.1em 0.6em;
    color: var(--crust);
    font-size: 3.5vh;
    font-weight: 700;
    padding: 2vh 2.5vw;
    border-radius: 0.5em;
    position: relative;
    bottom: 5vh;
    right: -50%;
    transform: translateX(-50%);
    border: none;
}

.next:hover{
    background: var(--teal);
    box-shadow: var(--crust) 0 0.1em 0.6em;
    color: var(--crust);
    cursor: pointer;
    padding: 2.5vh 3vw;
}

.next:active{
    background: var(--green);
    box-shadow: var(--crust) 0 0.1em 0.6em;
    color: var(--crust);
    padding: 2vh 2.5vw;
}

.gray{
    background: var(--overlay2);
    color: var(--crust);
}

.gray:hover{
    background: var(--overlay1);
    box-shadow: var(--crust) 0 0.1em 0.6em;
    color: var(--crust);
    cursor: default;
    padding: 2vh 2.5vw;
}

.gray:active{
    background: var(--overlay2);
    box-shadow: var(--crust) 0 0.1em 0.6em;
    color: var(--crust);
    padding: 2vh 2.5vw;
}

.lernContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 50vw;
    background: var(--crust);
    border-radius: 0.5em;
    box-shadow: var(--mantel) 0 0.1em 0.6em;
    padding: 1vw 1vh;
    margin: 10vh auto 10vh auto

}

.lernContainer h1{
    font-size: 8vh;
    font-weight: 700;
    margin-bottom: 5vh;
}

.lernContainer h2 {
    font-size: 6vh;
    font-weight: 700;
    margin-bottom: 3vh;
}

.lernContainer p{
    font-size: 2.2vh;
    font-weight: 500;
    margin-bottom: 3vh;
}

.codeBlock {
    background: var(--surface0);
    border-radius: 0.5em;
    box-shadow: var(--mantel) 0 0.1em 0.6em;
    padding: 2vh 1vw;
    margin-bottom: 3vh;
    width: 90%;
    overflow: auto;
    text-align: left;
    font-size: 1.75vh;
    font-weight: 500;

}

.codeBlock input, .cmd input {
    font-family: monospace;
    background: var(--surface1);
    border-radius: 0.5em;
    box-shadow: var(--mantel) 0 0.1em 0.6em;
    padding: 0.5vh 1vw 0.5vh 0.6vw;
    margin-bottom: 3vh;
    width: 90%;
    overflow: auto;
    text-align: left;
    font-size: 1.75vh;
    font-weight: 500;
    border: none;
    cursor: text;
    appearance: textfield; /* Firefox */

}

.codeBlock input.inline-input, .cmd input.inline-input{
    margin: 0 0 0.4vh 0;
    padding: 0.5vh 0.1vw 0.5vh 0.2vw;
    transform: translateX(0);
    cursor: text;
}

.codeBlock input.inline-input:focus, .cmd input.inline-input:focus{
    outline: var(--pink) auto 0.2em;
}

.codeBlock input.inline-input.correct, .cmd input.inline-input.correct{
    background: var(--green);
    color: var(--crust);
    font-weight: 600;
}

.codeBlock input.inline-input.wrong, .cmd input.inline-input.wrong{
    background: var(--red);
    color: var(--crust);
    font-weight: 600;
}

.codeBlock input.inline-input.nameErr, .cmd input.inline-input.nameErr{
    background: var(--yellow);
    color: var(--crust);
    font-weight: 600;
}

.codeBlock input.inline-input.vergleichErr, .cmd input.inline-input.vergleichErr{
    background: var(--red);
    color: var(--crust);
    font-weight: 600;
}

.codeBlock input.inline-input.bothErr, .cmd input.inline-input.bothErr{
    background: var(--mauve);
    color: var(--crust);
    font-weight: 600;
}

.codeBlock input[type="number"]::-webkit-inner-spin-button, 
.codeBlock input[type="number"]::-webkit-outer-spin-button,
.cmd input[type="number"]::-webkit-inner-spin-button, 
.cmd input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Chrome, Safari, Edge */
    margin: 0;
}

.cmd {
    background: var(--surface2);
    border-radius: 0.5em;
    box-shadow: var(--mantel) 0 0.1em 0.6em;
    padding: 2vh 1vw;
    margin-bottom: 3vh;
    width: 90%;
    overflow: auto;
    text-align: left;
    font-size: 1.75vh;
    font-weight: 500;
    line-break: anywhere;

}

.noMargin{
    margin: 0 !important;
}

.validate{
    background: var(--yellow);
    box-shadow: var(--crust) 0 0.1em 0.6em;
    color: var(--crust);
    font-size: 3vh;
    font-weight: 700;
    padding: 1.5vh 1.5vw;
    border-radius: 0.5em;
    border:none;
    margin-bottom: 3vh;
    margin-top: 2vh;
}

.validate:hover{
    background: var(--peach);
    box-shadow: var(--crust) 0 0.1em 0.6em;
    color: var(--crust);
    cursor: pointer;
    padding: 1.5vh 1.5vw;
    transform: scale(1.1);
}

.validate:active{
    background: var(--yellow);
    box-shadow: var(--crust) 0 0.1em 0.6em;
    color: var(--crust);
    padding: 1.5vh 1.5vw;
    transform: scale(.9);
}

.valid-output {
    color: var(--green) !important;
}

.invalid-output {
    color: var(--red) !important;
}

.inline-code{
    background: var(--surface1);
    border-radius: 0.5em;
    box-shadow: var(--mantel) 0 0.1em 0.6em;
    padding: 0.3vh 0.5vw;
    width: 90%;
    overflow: auto;
    text-align: center;
    font-size: 1.75vh;
    font-weight: 500;
    border: none;
    cursor: default;

}

.comment {
    color: var(--green);
}

.hidden{
    display: none;
}

footer{
    position: fixed;
    bottom: 0;
    opacity: 0.2;
    padding: 0.5vh 1vw;
}

footer:hover{
    opacity: 1;
    background: var(--crust );
    border-radius: 0.5em;
    padding: 0.5vh 1vw;
}

footer:hover a{
    color: var(--maroon) !important;
}

